@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&subset=cyrillic');

body {
    background: #323232;
}
.header{
    height: 90px;
    background: black;
}
.header-logo{
height: 62px;
width:210px;
margin-top: 15px;

}

.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    overflow: hidden;
}

.list-inline  li {
    display: inline-block;
}
.row{
float: left;
}
ul {
    float:left;
}